/* Reset & base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background-color: #002b52;
  /* dark navy */
  color: #fff;
  line-height: 1.4;
}


/* Header */
h1 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #fff;
}



@font-face {
  font-family: "CoolFont1";
  src: url("./assets/fonts/UniversLTStd-LightCn.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CoolFont2";
  src: url("./assets/fonts/UniversLTStd-LightUltraCn.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CoolFont3";
  src: url("./assets/fonts/UniversLTStd-UltraCn.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
